body {
	background-color: #000000;
	/*(black)*/
}

.square {
	/*100 = 3 * 30 + 6 * 1.66~*/
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	/*The float property specifies how an element should float.*/
	margin: 1.66%;
}

#container {
	margin: 0 auto;
	/*set the margin property to auto to horizontally center the element within its container.*/
	max-width: 600px;
}

h1 {
	color: white;
}

span {
	color: white;
}
